In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))
df

          A         B         C         D
0  1.565309  0.030450  1.572728 -0.444892
1 -0.245251 -1.416276 -1.263435  0.549417
2  0.699479 -0.359133 -0.830182 -0.186240
3 -0.141738 -0.642812 -0.837822  0.456851
4 -0.437280  0.994156 -1.407570  0.890365
5  0.448978  0.573724 -0.623153  1.017625
6  0.310569  1.299818 -2.453053 -0.461170
7  0.898193  0.445751  1.873654  1.983595
8  0.915924 -0.880531 -1.106806 -1.413976
9 -0.917121  0.255857  0.562916 -0.890200

In [2]:
for ws, row in df.iterrows():
    print(ws)
    print (row)

0
A    1.565309
B    0.030450
C    1.572728
D   -0.444892
Name: 0, dtype: float64
1
A   -0.245251
B   -1.416276
C   -1.263435
D    0.549417
Name: 1, dtype: float64
2
A    0.699479
B   -0.359133
C   -0.830182
D   -0.186240
Name: 2, dtype: float64
3
A   -0.141738
B   -0.642812
C   -0.837822
D    0.456851
Name: 3, dtype: float64
4
A   -0.437280
B    0.994156
C   -1.407570
D    0.890365
Name: 4, dtype: float64
5
A    0.448978
B    0.573724
C   -0.623153
D    1.017625
Name: 5, dtype: float64
6
A    0.310569
B    1.299818
C   -2.453053
D   -0.461170
Name: 6, dtype: float64
7
A    0.898193
B    0.445751
C    1.873654
D    1.983595
Name: 7, dtype: float64
8
A    0.915924
B   -0.880531
C   -1.106806
D   -1.413976
Name: 8, dtype: float64
9
A   -0.917121
B    0.255857
C    0.562916
D   -0.890200
Name: 9, dtype: float64